html{
	height: 100%;
}
body{
	height: 100%;
}
#app{
}
p{
	margin:0px;
}
.allYmbot{
	background-color:#f4f4f4;
	height: 100%;
}
.allYmbot::-webkit-scrollbar{
	display:none;
}
.ymbotDiv::-webkit-scrollbar{
    display: none;
    }
.ymbotDiv{
	position:relative;
	width:100%;
	padding-top:0.075rem;
	background-color:#f4f4f4;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
    padding-bottom: 0.3rem;	
}
.initYmbotDiv{
	overflow:hidden;
	display:block;
	margin-left:0.3rem;
	}
.fadeTohr{
	position:relative;
	height:0.44rem;
	width:2.9rem;
	margin:0 auto;
	border-radius:7px;
	background-color:#dddddd;
}
.toHrLeft{margin-left:0.17rem;
		font-size:0.26rem;
		font-family:PingFang SC Medium;
		color:#fff;
}
.toHrRight{
		font-size:0.26rem;
		font-family:PingFang SC Medium;
		color:#427feb;
		cursor:pointer;
		}
.noPhoto{display:block;
		width:100%;
		height:100%;
		border-radius:50%;
}
.ephoto{display:inline-block;
	 width:100%;
	 height:100%;
	 line-height:0.8rem;
	 text-align:center;
	 border-radius:50%;
	 color:#fff;
	 
 }
.userChat{
	overflow:hidden;
	display:block;
	position:relative;
	width:auto;
	height:auto;
	margin-top:0.4rem;
	margin-right:0.3rem;
	padding:0;
}
.userPhoto{
	position:relative;
	float:right;
	height:0.8rem;
	background-color:#ffffff;
	width:0.8rem;
	border-radius:0.8rem;
	margin-left: -0.05rem;
}
.rtriangle{
	position:relative;
	float:right;
	height:0.25rem;
	width:0.25rem;
	margin:0.23rem 0.2rem 0 -0.15rem;
    -webkit-transform: rotate(45deg); 
    background-color: #afcff7;
    border: solid 1PX ;
    border-color: #89a8e0 #89a8e0 transparent transparent; 
    z-index: 1;
    border-radius: 0 5PX 0 0;	
}
.userQuestion{
	position:relative;
	float:right;
	width:auto;
	max-width:60%;
	margin-top:0;
	height:auto;
	margin-right: 0;
	padding:0.18rem 0.19rem;
	border-radius:0.14rem;
	background-color:#afcff7;
	font-size:0.3rem;
	font-family:PingFang SC Medium;
	color:#343434;
	line-height:0.36rem;
	word-break:break-all;
	background-color: #afcff7;
	border: solid 1PX #89a8e0;
}
.ymbotAnswerDiv{
	overflow:hidden;
	display:block;
	position:relative;
	width:auto;
	height:auto;
	margin-left:0.3rem;
	margin-top:0.4rem;
	padding:0;
	}
.ymbotPhoto{
	position:relative;
	background-color:#ffffff;
	float:left;
	width:0.8rem;
	height:0.8rem;
	border-radius:0.8rem;
	margin-right: -0.05rem;
	}
.ltriangle{
	position:relative;
	float:left;
	height:0.25rem;
	width:0.25rem;
	margin-top:0.23rem;
	margin-right: -0.15rem;
	margin-left: 0.2rem;
    -webkit-transform: rotate(135deg); 
    background-color: #ffffff;
    border: solid 1PX ;
    border-color: transparent #e4e4e4 #e4e4e4 transparent ; 
    z-index: 1;
    border-radius:0 0 5PX 0;	

	}
.ymbotAnswer{
	position:relative;
	float:left;
	height:auto;
	max-width:60%;
	width:auto;
	padding:0.2rem 0.19rem;
	border-radius:0.14rem;
	background-color:#FFFFFF;
	font-size:0.3rem;
	font-family:PingFang SC Medium;
	color:#343434;
	line-height:0.36rem;
	word-break:break-all;
	border: solid 1PX #e4e4e4;
	}
.openMore{
	height: 0.8rem;
}

.listItem{ 
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	font-size:0.3rem;
	font-family:PingFang SC Medium;
	color:#1baede;
	line-height:0.36rem;
	margin-top:0.15rem;
	cursor:pointer;
	}
.listTextDiv{
	position:relative;
	float:left;
	height:auto;
	max-width:60%;
	width:auto;
	padding:0.18rem 0.19rem;
	border-radius:0.12rem;
	background-color:#FFFFFF;
	border: solid 1PX #e4e4e4;
}
.listText{
	font-size:0.3rem;
	font-family:PingFang SC Medium;
	color:#343434;
	line-height:0.36rem;
	}
.openPopup{
	height: 0.4rem;
	margin-top: 0.1rem;
}
.open{
	width: 1.6rem;
	margin:0 auto;
	height: 100%;
}
.openText{
	float: left;
	width: 1.2rem;
	font-size:0.28rem;
	font-family:PingFang SC Medium;
	color:#1baede;
}
.openIcon{
	float: left;
	width: 0.25rem;
	margin-top: 0.07rem;
}







